{% extends 'base.html' %}

{% block content %}
<!--        <div class="alert alert-success" role="alert">-->
<!--            Successfully added your TO-DO !! <span><a href="#">View Now</a></span>-->
<!--          </div>-->


     
{% include 'messages.html' %}



<div class="miniContainer">

    <form action="{% url 'addtodolist' %}" method="post">
        {% csrf_token %}
        <div class="titleDiv">
            <label>Title</label>
            <div class="right_item">
                {% if data != "" %}
                <input required name="title" type="text" class="titleField TitleT" placeholder="To Do Title" value="{{ data.title }}">
                {% else %}
                <input required name="title" type="text" class="titleField TitleT" placeholder="To Do Title">
                {% endif %}
            </div>
        </div>

        <div class="titleDiv">
            <label>Priority</label>
            <div class="right_item">
                <select class="selectItem" name="priorityIs">


                    {% if data.priorityIs == "high" %}
                    <option value="high" selected>High</option>
                    {% else %}
                    <option value="high" selected>High</option>
                    {% endif %}


                    {% if data.priorityIs == "medium" %}
                    <option value="medium" selected>Medium</option>
                    {% else %}
                    <option value="medium">Medium</option>
                    {% endif %}

                    {% if data.priorityIs == "low" %}
                    <option value="low" selected>Low</option>
                    {% else %}
                    <option value="low">Low</option>
                    {% endif %}
                
                </select>
            </div>
        </div>


        <div class="titleDiv">

            <label>End date</label>


            <div class="endDate">
                {% if data != "" %}
                <input required name="endDate" id="input" width="234" value="{{ data.endDate|date:'H:i d/m/Y'}}" />
                {% else %}
                <input value="{{ data.endDate }}" required name="endDate" id="input" width="234" />
                {% endif %}


            </div>

            <script>
                $('#input').datetimepicker({
                    uiLibrary: 'bootstrap4',
                    modal: true,
                    footer: true
                });
            </script>
        </div>



        <div class="titleDiv">
            <label>Description</label>
            <div class="right_item">
                {% if data != "" %}
                <textarea required name="description" placeholder="Short Description" class="desc"
                id="exampleFormControlTextarea1" rows="3">{{ data.description }}</textarea>
                {% else %}
                <textarea required name="description" placeholder="Short Description" class="desc"
                id="exampleFormControlTextarea1" rows="3"></textarea>
                {% endif %}
            </div>
        </div>

</div>


<div class="divAdd">

    <div class="backBtn">
        <button onclick="goToHome()" type="button" class="backBtnBack">Back</button>
    </div>

    

    <div>
        <input type="submit" name="save" value="submit" class="addtolist">
    </div>
    
</div>
</form>





<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>


    <script>
        setTimeout(function(){
          if ($('#msg').length > 0) {
            $('#msg').remove();
          }
        }, 4000)
      </script> 

</body>

</html>
{% endblock %}