  {% extends 'base.html' %}

   {% block content %}


    {% include 'messages.html' %}

        <div class="container-fluid head">
            <div class="row">
              <div class="col-3">
                <p class="head_title">Title</p>
              </div>
              <div class="col-6  ">
                <p class="head_desc">Description</p>
              </div>
             
            </div>
          </div>

          <!-- TITLE  1 -->

          <br>

          <div class="msg">
            <p>Previously completed Tasks:</p>
            </div>

          {% for i in CompletedListModel %}

          <br>

          

          <div class="container-fluid  bodyColor">
            <div class="row">
              <div class="col-3 listMargin">
                <p class="userToDo ">{{i.title}}</p>
              </div>
              <div class="col-6 listMargin">
                <p class="userToDo">{{i.description}}</p>
              </div>
              <div class="col-2 listMargin listMargin">
                <div class="iconsView cmpBtn">
                  <form action="{% url 'deleteFromComplete' i.id %}" method="post">
                    {% csrf_token %}
                    <button class="CompletedBtn btn"><i class="fa fa-trash remove" aria-hidden="true"></i></button>
                  </form>
                    </div>
              </div>
            </div>
          </div>

          {% endfor %}

          
          <br> <br> <br>

          <div class="pageLink disFlex">

            <button onclick="goToHome()" type="button" class="btn btn-danger backBttn">Back</button>

            <nav aria-label="...">
              <ul class="pagination">
                {%if CompletedListModel.has_previous%}
                <li class="page-item ">
                  <a class="page-link" href="/completedList/?page=1" tabindex="-1">First</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="/completedList/?page={{CompletedListModel.previous_page_number}}" tabindex="-1">Previous</a>
                </li>
                {% endif %}
          
                {% for n in page_list %}
                
                <li class="page-item"><a class="page-link" href=/completedList/?page={{n}}>{{n}}</a></li>
          
                {% endfor %}
          
                {%if CompletedListModel.has_next%}
                <li class="page-item">
                  <a class="page-link" href="/completedList/?page={{CompletedListModel.next_page_number}}" tabindex="-1">Next</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="/completedList/?page={{last_page}}" tabindex="-1">Last</a>
                </li>
                {% endif %}
                
              </ul>
            </nav>

         

        </div>

    </div>
      
    <script>
      setTimeout(function(){
        if ($('#msg').length > 0) {
          $('#msg').remove();
        }
      }, 4000)
    </script> 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

{% endblock %}